<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>100Devs MVC CRUD Template</title>
</head>

<body>
    <header>
        <div class="navbar bg-base-100">
            <div class="flex-1">
              <a class="btn btn-ghost normal-case text-xl">100Devs MVC CRUD Template</a>
            </div>
            <div class="flex-none gap-2">
              <div class="form-control">
                <input type="text" placeholder="Search" class="input input-bordered" />
              </div>
              <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                  <div class="w-10 rounded-full">
                    <img src="/img/logo48x48.png" />
                  </div>
                </label>
                <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                  <li>
                    <a class="justify-between">
                      Profile
                      <span class="badge">New</span>
                    </a>
                  </li>
                  <li><a>Settings</a></li>
                  <li><a>Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
    </header>
    







    <!-- <header>
        <div class="navbar">
            <div class="logo">
                <h2>100Devs MVC CRUD Template</h2>
            </div>
            <div class="nav-links">
                <ul>
                    <li>
                        <a href="https://github.com/rayanthoney/100Devs-Bootcamp/tree/master/homework-layouts/100Devs_2023MVC_CRUD_template"
                            target="_blank">Github Repo</a>
                    </li>
                </ul>
            </div>
        </div>
    </header> -->